* {box-sizing: border-box;}

/*For Mobile*/
@media only screen and (max-width: 768px) { 
h2 { font-size: 20px;}
.btn {font-size: 16px;}
.card-body {font-size: 16px;}
.card-body p {font-size: 16px;}
#map iframe {width: 400px; height: 300px;}
figcaption a {font-size:15px; text-decoration: none;margin-left: 120px;}
#table-img img {width: 100%; height: 280px;}
.collapsed btn {font-size: 16px;}
}

/*For Tablet*/
@media only screen and (min-width: 768px) { 
h2 { font-size: 30px;}
.btn {font-size: 18px;}
.card-body {font-size: 18px;}
.card-body p {font-size: 18px;}
#map iframe {width: 500px; height: 400px;}
figcaption a {font-size:17px; text-decoration: none;margin-left: 120px;}
#table-img img {width: 100%; height: 280px;}
.collapsed btn {font-size: 18px;}
}

/*For Desktop*/
@media only screen and (min-width: 992px) { 
h2 { font-size: 40px;}
.btn {font-size: 20px;}
.card-body {font-size: 20px;}
.card-body p {font-size: 20px;}
#map iframe {width: 600px; height: 500px;}
figcaption a {font-size:20px; text-decoration: none;margin-left: 120px;}
#table-img img {width: 100%; height: 300px;}
.collapsed btn {font-size: 20px;}
}